{% extends 'base.html' %}


{% block content %}
<div class="row">
    <!-- Load Left Sidebar  -->
    {% include 'dashboards/sidebar.html' %}
       <!-- Right Sidebar  -->
       <div class="col-md-9">
        <span class="btn btn-sm btn-success">You are logged in as {{ user.username }}</span>

        <div class="row mt-4">

            <div class="col">
                <div class="card border-deafult mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{ category_count }}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-deafult mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Posts</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{ posts_count }}</h5>
                    </div>
                </div>
            </div>
        </div>

       </div>

</div>


{% endblock %}
