{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <!-- Load Left Sidebar  -->
    {% include 'dashboards/sidebar.html' %}


       <!-- Right Sidebar  -->
       <div class="col-md-9">
       <h4 class="text-center">Edit Category</h4>

<form action="{% url 'edit_category' category.id  %}" method="POST" style="width:500px;">
    {% csrf_token %}
    {{ form | crispy }}

    <button type="submit" class="btn btn-warning">Edit</button>

</form>

 <br>
       </div>

</div>


{% endblock %}
