{% extends 'base.html' %}


{% block content %}

<div class="row">
    <!-- Load Left Sidebar  -->
    {% include 'dashboards/sidebar.html' %}


       <!-- Right Sidebar  -->
       <div class="col-md-9">
       <h4 class="text-center">All Posts</h4>
       <a href="{% url 'add_post' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Featured</th>

      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for p in posts %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ p.title }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.author }}</td>
      <td>{{ p.status }}</td>
      <td>{% if post.is_featured %}<i class="fa-solid fa-xmark text-danger"></i>{% else %}<i class="fa-solid fa-check text-success"></i>{% endif %}</td>

      <td><a href="{% url 'edit_post' p.id %}"><i class="fa-solid fa-pen-to-square text-warning"></i></a></td>
      &nbsp
      <td> <a href="{% url 'delete_post' p.id%}"><i class="fa-solid fa-trash text-danger"></i></a></td>
    </tr>
    {% endfor %}


  </tbody>
</table>
       </div>

</div>



{% endblock %}
